body {
    font-family: 'Arial', sans-serif;
    background-color: #fce4ec;
    color: #4a148c;
    text-align: center;
    margin: 0;
    padding: 0;
}
.intro{
    background-color: #f8baf0;
    font-family: Verdana;
    font-style: bold;
    border-radius: 20px;
    text-decoration: dotted;
    text-align: start;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f8bbd0;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro {
    margin-bottom: 20px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images1 .image1{
    width: 163;
    height: 91;
    border-radius:10px ;
}
.images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.images .image {
    width: 502px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video {
    width: 80%;
}

.video video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.album{
    background-color: #f8baf0;
    border-radius: 40;
}


#foot{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.imag{
    border-radius: 30px;
    display: flex;
    
}

